@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cabinet;
  src: url("fonts/CabinetGrotesk-Regular.ttf") format("truetype");
}
@font-face {
  font-family: CabinetBold;
  src: url("fonts/CabinetGrotesk-Bold.ttf") format("truetype");
}
